#AMETHYST AUTO-CLEANUPS--------------------------

#tidies up geodes interacted with. can either be a flat integer for instances of diffs recorded, or a time period like "20 days" or "1 week"
#input 'never' to always record everything. amethyst always defaults to 'never' to preserve history
geodelogperiod = never

#ADE PREREQS-------------------------------------

#amethyst reads this to automatically detect your root directory, if you dont provide one. flag carefully
isMaster = true

#best used if isMaster is false. auto-points to your intended root directory. IGNORED if isMaster is true
masterProjectDir = C:\Users\micro\Documents\GitHub\StormCode-dev.github.io

#AMETHYST OPTIMIZATIONS--------------------------

#compresses everything amethyst made itself (exluding this file!) and is useful to save space.
#if marked true, you cant read anything normally. defaults to false.
compressAll=false

#if blake3 isnt available, or unreasonable, you can choose a different hash algorithm to used
#valid choices: blake3, blake2b, sha256, sha1
hashAlgorithm=blake3

#AMETHYST POINTER SAFETY-------------------------

#you may sometimes deal with finicky edge cases. amethyst provides this option pre-configured so you dont run into these cases
#ADE references this to ensure cases like recursive dection wont happen. you can change this, but it's not reccomended
#by default, this will be a shortened hash of the location of your initialized project
projectID=73d39

#pointers look like '--MOVEDTO-->' normally. if this option is true, it might look like '--MOVEDTO[ecj8lm]-->'
#valid choices: never, always
includePointerID=always

#CONVENIENCES------------------------------------

#want amethyst to warn you for potential issues? flag true to warn for issues it encounters, and false for no annoyance.
#assumes true if none entered.
warnForIssues=true

#from the directory of your amethystversioncontrol root folder, amethyst will ignore operating within the listed directories you put here
#for example, you can put 'C:\Users\you\Programs\project1\.git' in here, or 'C:\Users\you\Programs\project1\.git, C:\Users\you\Programs\project1\_pycache_', or even just None
#because amethyst can auto-detect your root, you can list directories and relative with something like 'ROOT:.git' or 'ROOT:\secrets'.
#you can also indicate files with the text 'FILE:file.extension', or even go broader and do 'FILE:.env'.
#in practice, something like 'C:\Users\you\Programs\project1\.git, FILE:.env, C:\Users\you\Programs\project1\_pycache_' would work
#even simpler, it could look like 'ROOT:.git, FILE:.env, FILE:LICENSE.txt, ROOT:_pycache_'.
ignoreDirs=ROOT:.git, FILE:.env, ROOT:amethystversioncontrol, ROOT:assets, FILE:.png, FILE:.gif, ROOT:node_modules